!!! 5

html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css')
    title Twitter Reading List

  body
    .container
      center
        h1 Twitter Reading List
      if user_name
        .tmp
          p 
            a(href='/check/') Check for New Favorites
          p 
            a(href='/tw') Twitter: Get Favorites
      .auth
        #twitter
          p 
            if user_name
              a(href="http://www.twitter.com/#{user_name}", target="_blank") #{user_name}
            else
              a(href='/tw/login') Sign In with Twitter
          p 
            if user_name
              a(href='/rdb/login') Sign In with Readability
            else
              a(href='#', class=(user_name === null ? 'disabled': "")) Sign In with Readability

      #debug
        p Session: 
          =JSON.stringify(session)

      .login
        a(href="/logout") logout