!!! 5

html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css')
    title Twitter Reading List

  body
    .container
      center
        h1 Twitter Reading List
      .auth
        #twitter
          p 
            if user_name
              a(href="http://www.twitter.com/#{user_name}", target="_blank") #{user_name}
            else
              a(href='/tw/login') 1) Sign In with Twitter
          p 
            if user_name
              a(href='/rdb/login') 2) Sign In with Readability
            else
              a(href='#', class=(user_name === null ? 'disabled': "")) 2) Sign In with Readability
      .tmp
        p
          if user_name
            a(href='/timer/start') 3) Start syncing favorites (every 4.01 minutes)
          else
            a(href='#', class=(user_name === null ? 'disabled': "")) 3) Start syncing favorites

      #debug
        p Session: 
          =JSON.stringify(session)

      .login
        a(href="/logout") logout