/* App-wide styling */

body {
  background: #E8E8E8;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica,arial,sans-serif;
}

a {
  color: #FF0006;
}

.container {
  margin: 0 auto;
  width: 950px;
  text-align: left;
  word-wrap: break-word;
}


/* Homepage */

#twitter p {
float: left;
margin: 0 15px;
padding: 10px 64px;
width: 33%;
background: white;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
-webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
color: #555;
}